$color-primary:#003425;
$color-primary-light:#057152;
$color-primary-dark:#011b13;


$color-secondary:#b08128;
$color-secondary-dark:#775413;
$color-secondary-light:#eab552;


$color-secondary-white:#ffffff;
$color-secondary-black:#060606;

$color-grey-1:#ffffff59;
$color-grey-2:#ffffff92;
$color-grey-3:#ffffffd7;




$default-primary-font:1.7rem;
$default-primary-font-small:1.4rem;
$default-primary-font-smaller:1rem;


$header-primary: 4rem;
$header-secondary: 2rem;
$header-tertiary: 1.7rem;


