
.footer {
    background: #2e2e2e;
    padding-top: 80px;
    

    @include media-breakpoint-down(md) {
        text-align: center;
     }
    

    @include media-breakpoint-down(sm) {
        text-align: center;
     }
    


    @include media-breakpoint-down(xm) {
       text-align: center;
    }
   
    
    

    &__logo {
        width: 8rem;

        @include media-breakpoint-down(md) {
            text-align: center;
         }
        
    
        @include media-breakpoint-down(sm) {
            position: relative;
            left: 10rem;
       
         }
        
    
    
        @include media-breakpoint-down(xm) {
            position: relative;
            left: 1rem;
        }
        
    }

    &__text {
        @include media-breakpoint-down(md) {
            text-align: center;
         }
        
    
        @include media-breakpoint-down(sm) {
            position: relative;
            left: 10rem;
       
         }
        
    
    
        @include media-breakpoint-down(xm) {
            position: relative;
            left:1rem;
        }
     }

     &__social-icon {
        color: $color-primary-light;

        @include media-breakpoint-down(sm) {
            position: relative;
            left: 12rem;
       
         }

        @include media-breakpoint-down(sm) {
            position: relative;
            left: 12rem;
       
         }

         @include media-breakpoint-down(xm) {
            position: relative;
            left: 3rem;
       
         }
    }

    
}

.footer .footer-charity-text {
    max-width: 345px;

   


}

.footer .footer-charity-text h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 2.7rem;

    @include media-breakpoint-down(md) {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin: 0 0 2.7rem;

        
           
    }
    @include media-breakpoint-down(sm) {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin: 0 0 2.7rem;
        position: relative;
        left: 10rem;

        
           
    }

    @include media-breakpoint-down(xm) {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin: 0 0 2.7rem;
        position: relative;
        left: 1rem;

        
           
    }
}

.footer .footer-charity-text p {
    color: $color-grey-1;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;

   
}

.footer .footer-charity-text hr {
    border-color: rgb(91, 91, 91);
}

.footer .footer-charity-text p i {
    color: #5b5b5b;
    font-size: 18px;
    margin-right: 20px;
}

.footer-charity-text hr {
    margin: 3.5rem 0;

    @include media-breakpoint-down(sm) {
        margin: 3.5rem 10rem;
        width: 100%;
          
    }

    @include media-breakpoint-down(xm) {
        margin: 3.5rem 2rem;
        width: 100%;
          
    }
}

.footer .footer-text h3 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0 25px;
}

.footer .footer-text ul {
    margin: 0;
    padding: 0;
}

.footer .footer-text.one ul li {
    left: 7px;
    list-style: outside none none;
    padding-left: 20px;
    position: relative;
}

.footer .footer-text.one ul li i {
    color: $color-grey-1;
    font-size: 1.5rem;
    left: -7px;
    position: absolute;
    top: .3rem;

    @include media-breakpoint-down(md) {
        color: $color-grey-1;
        font-size: 1.5rem;
        left: 9.5rem;
        position: absolute;
        top: .3rem;

}

    @include media-breakpoint-down(sm) {
        color: $color-grey-1;
        font-size: 1.5rem;
        left: 18rem;
        position: absolute;
        top: .3rem;

}

    @include media-breakpoint-down(xm) {
            color: $color-grey-1;
            font-size: 1.5rem;
            left: 9.5rem;
            position: absolute;
            top: .3rem;

    }
}

.footer-text {
   

    &__icon {
        color: $color-grey-1;
        font-size: 1.5rem;
        left: 13px;
        // position: absolute;
        // top: .3rem;

    }

    &__locate {
        color: $color-grey-1;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;

    }
}



.footer .footer-text.one ul li a {
    color: $color-grey-1;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer .footer-text.two ul li a {
    color: $color-grey-1;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer .footer-text ul li {
    margin-bottom: 10px;
}

.footer .footer-text.two ul li a:hover,
.footer .footer-text.one ul li a:hover,
.footer .footer-text.one ul li i:hover,
.footer .footer-charity-text p i:hover {
    color: #c0c0c0;
}

.footer .footer_bottom p {
    background: #232323 none repeat scroll 0 0;
    color: #cacaca;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 75px;
    line-height: 75px;
    margin: 70px 0 0;
    padding: 0;
    text-align: center;


    @include media-breakpoint-down(sm) {

        font-size: 13px;

    }

    @include media-breakpoint-down(xm) {

        font-size: 10px;

    }
}

.footer .footer_bottom p a {
    color: #2ad880;
    text-decoration: none;
}