
.navbar {
    background-color: $color-secondary-white;



    
    
}


.navbar-nav {
  position: relative;


    margin-left: 7rem;

    @include media-breakpoint-down(xl) {
      margin-left: -20rem;

      
          
    }

    @include media-breakpoint-down(lg) {
      margin-left: 5rem;

      
          
    }

    @include media-breakpoint-down(md) {
      margin-left: 5rem;

      
          
    }

    @include media-breakpoint-down(md) {
      margin-left: 5rem;

      
          
    }


    @include media-breakpoint-down(sm) {
      margin-left: 5rem;

      
          
    }

    @include media-breakpoint-down(xm) {
      margin-left: 2rem;
          
    }


    &__item {
      margin-top: 3rem;
      position: relative;
  
  
      &:not(:last-child) {
  
        margin-right: 3rem;
      }

      @include media-breakpoint-down(xl) {
    
        
        
      }

     

     
  
    }
  
    &__link {
      font-size: $default-primary-font-small;
      font-weight: 600;
      color: $color-primary;
      text-transform: uppercase;
      text-decoration: none;

      @include media-breakpoint-down(xl) {
        font-size: $default-primary-font-small;
        
      }

      @include media-breakpoint-down(lg) {
        font-size: $default-primary-font-small;
        color: $color-secondary-white;
      }


      @include media-breakpoint-down(md) {
        font-size: $default-primary-font-small;
        color: $color-secondary-white;
      }


     @include media-breakpoint-down(sm) {
        font-size: $default-primary-font-small;
        color: $color-secondary-white;
      }
    }
  }


  
  
  
  .dropdown-who {
    background-color: $color-secondary;
    width: 35rem;
    position: absolute;

   


    @include media-breakpoint-down(sm) {
      width: 20rem;
      margin-left: 5rem;
  
      background-color: $color-secondary;
      color: $color-primary-dark;

      
    }
  }

  .dropdown-menu .dropdown-item{
   

    &:hover {
      background-color: $color-secondary-white
    }


    @include media-breakpoint-down(sm) {
              &:hover {
                color: $color-secondary-white
              }
    }

    
    @include media-breakpoint-down(xm) {
      &:hover {
        color: $color-secondary-white
      }
}
  }


  .dropdown:hover .dropdown-menu {
    @include media-breakpoint-down(xm) {
         display: block;
      }
      
  }




  
  
  .dropdown-do {
    background-color: $color-secondary;
    width: 50rem;
    position: absolute;
    
  
    @include media-breakpoint-down(sm) {
      width: 25rem;
      margin-left: 5rem;
  
      background-color: $color-secondary;
      color: $color-primary-dark;
    }

    @include media-breakpoint-down(xm) {
      width: 25rem;
      margin-left: 2rem;
  
      background-color: $color-secondary;
      color: $color-primary-dark;
    }
  
    
  }
  
  
  .dropdown-training {
  
    background-color: $color-secondary;
    width: 50rem;
    margin-left: 60rem;
  
    @include media-breakpoint-down(sm) {
      width: 27rem;
      margin-left: 5rem;
  
      background-color: $color-secondary;
      color: $color-primary-dark;
    }

    @include media-breakpoint-down(xm) {
      width: 27rem;
      margin-left: 3rem;
  
      background-color: $color-secondary;
      color: $color-primary-dark;
    }
  
  }
  
  
  .dropdown-portfolio {
    background-color: $color-secondary;
    width: 50rem;
    margin-left: 70rem;
  
    @include media-breakpoint-down(sm) {
      width: 27rem;
      margin-left: 5rem;
  
      background-color: $color-secondary;
      color: $color-primary-dark;
    }

    @include media-breakpoint-down(xm) {
      width: 27rem;
      margin-left: 4rem;
  
      background-color: $color-secondary;
      color: $color-primary-dark;
    }
  
  }
  
  
  .dropdown-item  {
    font-size: $default-primary-font-small;

 


    &:hover {
      background-color: $color-secondary-white
    }
    
  
  }

  
 
  
  
  .navbar-toggler {
    margin-right: 3rem;

    @include media-breakpoint-down(md) {
      
    }
  }

  .offcanvas {
    max-width: 60%;
    max-height:100% ;
    background: $color-primary;
    
  }

  .btn-close {
    font-size: 2rem;
    color: $color-secondary-white;
    background-color: $color-secondary-white;
  }
  
  .bi-list-nested {
    font-size: 2.3rem;
  }