.donors {
    height: 600px;
}

.donors .donors_input {
    background: $color-primary-light none repeat scroll 0 0;
    float: left;
    height: 600px;
    text-align: center;
    width: 50%;


    @include media-breakpoint-down(lg) {
        background: $color-primary-light none repeat scroll 0 0;
        float: left;
        height: 600px;
        text-align: center;
        width: 100%;
    

    }

    @include media-breakpoint-down(sm) {
        background: $color-primary-light none repeat scroll 0 0;
        float: left;
        height: 600px;
        text-align: center;
        width: 100%;
    

    }

    @include media-breakpoint-down(xm) {
        background: $color-primary-light none repeat scroll 0 0;
        float: left;
        height: 600px;
        text-align: center;
        width: 100%;
    

    }
}

.donors .donors_input h2,
.donors .donors_image h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin: 75px 0 50px;
    text-align: center;
}

.donors .donors_image h2 {
    color: #000;
}

.donors .donors_input p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 35px 0;
    text-align: center;
    text-transform: uppercase;
}

.donors .donors_input p input {
    margin-left: 20px;
    margin-right: 10px;
}

.donors .donors_input h5 {
    margin: 65px auto 0;
    max-width: 500px;
}

.donors .donors_input h5 input {
    background: $color-primary-light none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 17px 20px;
    width: 47%;
}

.donors .donors_input h5 input[type="text"] {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    margin-right: 2%;
}

.donors .donors_input h5 input[type="email"] {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin-left: 2%;
}

.donors .donors_input input[type="submit"] {
    background: #fff none repeat scroll 0 0;
    border: 2px solid $color-primary-light;
    border-radius: 10px;
    color: $color-primary-light;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 45px;
    padding: 15px 40px;

    @include media-breakpoint-down(xm) {

        background: #fff none repeat scroll 0 0;
        border: 2px solid $color-primary-light;
        border-radius: 10px;
        color: $color-primary-light;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 500;
        margin-top: 3rem;
        padding: 15px 40px;

    }
}

.donors .donors_input h4 {
    margin-top: 20px;
    text-align: center;
}

.donors .donors_input h4 select {
    width: 50rem;
    background: $color-primary-light none repeat scroll 0 0;
    border: none;
    padding: 17px 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #fff;

    @include media-breakpoint-down(xm) {
        width: 28rem;

    }
}

.donors .donors_image {
    background: #eceff1 none repeat scroll 0 0;
    float: left;
    width: 50%;
    height: 600px;

    background-image:linear-gradient( 100deg, 
    rgba($color-primary-light, 10),
    rgba($color-secondary, .3) 105%,
    
    transparent 60%), 
    
    
    url(../img/hoperise-slide1.png);
    background-size: cover; // or 100% value
    background-repeat: no-repeat;
    background-position: 50%;
   
    box-shadow: 0 1.5rem 4rem rgba($color-secondary-black, .2);


    @include media-breakpoint-down(sm) {
        background: #eceff1 none repeat scroll 0 0;
        float: left;
        width: 0;
        height: 600px;
    
        
     

    }

    @include media-breakpoint-down(xm) {
        background: #eceff1 none repeat scroll 0 0;
        float: left;
        width: 0;
        height: 600px;
    
        

    }
}

.donors .donors_image .item {
    text-align: center;
}

.donors .donors_image .item img {
    border-radius: 10px;
    margin: 0 auto 30px;
    width: 385px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

.donors .donors_image .item h3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.donors .donors_image .item p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0 75px;
}

.donors .donors_image .item p span {
    color: $color-primary-light;
}


