.section-about {
    justify-content: space-evenly;
    margin-bottom: 4rem;
}



.vision-mission {
    margin-bottom: 8rem;
   
   
    @include media-breakpoint-down(md) {
        margin-bottom: 4rem;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 4rem;
    }

    &__header {
        font-size: $header-secondary;
        font-weight: 600;
        text-align: center;
        font-family: "Oxygen", sans-serif;
        text-transform: uppercase;
        color: $color-primary-light;

    }

    &__text {
        font-size: $default-primary-font;
        font-family: "Lora", serif;
        color: $color-secondary-black;
        text-align: center;


    }

  
}


.about-main {

    &__header {
        font-size: $header-secondary;
        color: $color-secondary;
        text-transform: uppercase;
        text-align: center;
    }

    &__text {
        font-size: $default-primary-font;
        text-align: justify;
        text-justify: newspaper;
    }

    &__img {
        width: 100%;
        height: auto;
        border: .5rem solid $color-secondary;
        border-radius: 2rem;
        box-shadow: 0 1.4rem 2rem rgba(5, 4, 0,.8);


    }

    &__bullet {
        font-size: $default-primary-font-small;
    }
}


.section-policy {
    justify-content: space-evenly;
    margin-bottom: 4rem;
}



.policy {
    margin-bottom: 8rem;
   
   
    @include media-breakpoint-down(md) {
        margin-bottom: 4rem;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 4rem;
    }

    &__header {
        font-size: $header-secondary;
        font-weight: 600;
        text-align: center;
        font-family: "Oxygen", sans-serif;
        text-transform: uppercase;
        color: $color-primary-light;

    }

    &__text {
        font-size: $default-primary-font;
        font-family: "Lora", serif;
        color: $color-secondary-black;
        text-align: normal;


    }

    &__bullet {
        font-size: $default-primary-font-small;
    }

  
}


.contacts {
    background-color: $color-grey-1;
    padding: 4rem 10rem;
    height: 160rem;
    justify-content: space-between;
    text-align: center;
   


    &__icon {
        margin-top: 5rem;
        font-size: 5rem;
        color: $color-secondary;
    }
    

    &__text {
        font-size: $header-secondary;
        font-weight: 800;
        color: $color-primary;

       
        
    }





    &__column {
        box-shadow: 0 4rem 2rem rgba(1, 1, 2, .08);
        background-color: transparent;
        border-radius: 2rem;
        height: 30rem;
        padding: 2rem 2rem;
        flex: 1;


    }
}